<!-- 3rd -->

<html>
<head>
<title>Login page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

</head>
<body >

<!-- Start code from below -->
<h1>OTP VERIFICATION</h1><hr>
<form action="/otp" method="POST">
    <label>MOBILE NO</label>
    <input type="tel" placeholder="Mobile Number" name="number"><br>
    <label>Enter OTP:</label>
    <input type="text" name="received_otp" placeholder="Enter OTP"><br>
    <input type="Submit" class="btn btn-success">
</form>















</body>
</html>

